*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

h2 {
    font-size: 24px;
    color: #666;
}

p {
    font-size: 12px;
}

/*-------------------------------------------HEADER-----------------------------------*/
header {
    background-color: #EAC926; ;
    }

header div.logo {
    width: 50%;
    padding: 10px;
}

header .burger-menu {
    text-align: center;
    background-color: #1259c3;
    border-radius: 10%;
    color: white;
    padding: 4px;
    /*margin-left: 50%;
    margin-top: 20px;*/
    margin: auto;
    width: 28px;
}

header .compra {
    text-align: center;
}

header a {
    text-decoration: none;
    color: black;
    text-align: left;
}

header nav {
    display: none;
}

/*-----------------------------------------MAIN--------------------------------------------*/

main section {
    width: 90%;
    margin: auto;
    background-color: #ebebeb;
}

main section article {
    margin-bottom: 10px;
    background-color: #fff;
}

main section article div {
    border: 1px solid #ebebeb;
    padding: 15px;
    
}

main section article div h3 {
    display: none;
}

main section article div i {
    color: #39b54a;
    border: 1px solid #39b54a ;
    border-radius: 50%;
    padding: 5px 15px 15px 5px;
    position: absolute;
    right: 20px;
    
    /*display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    border: 1px solid #39b54a;
    background-color: #FFF;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;*/
}

main section article div .descuento {
    color: #39b54a;
}

main section article div h2 {
    display: none;
}

/*-----------------------------------------FOOTER------------------------------------------*/

footer {
    text-align: center;
    margin-left: 60px;
    margin-right: 60px;
}

footer i {
    color: #1259c3;
    text-align: center;
    font-size: 2em;
    
}

footer section {
    margin-top: 80px;
    margin-bottom: 80px;
}

.copy {
    text-align: left;
    font-size: 12px;
}

/*-----------------------------MEDIA QUERY-------------------------*/

@media (min-width: 361px){
    main section article div h2 {
        display: block;
    }

    main section article div h3 {
        display: block;
    }

    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }
    header nav {
        display: block;
    }
    #burger {
        display: none;
    }
    
}

@media (min-width: 769px){
    
}


















