* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato', sans-serif;
}

.contenedor01,
.contenedor02 {
    padding: 20px;
}

.contenedor01 {
    width: 90%;
    background-color: salmon;
}
.contenedor02 {
    width: 50%;
    background-color: #b4fa72;
}

@media (min-width: 576px) {
    .contenedor01,
    .contenedor02 {
        width: 70%;
        margin: auto;
    }
}

@media (min-width: 768px) {
    .contenedor01 {
        background-color: #000000;
        color: white;
    }
    .contenedor02 {
        background-color: #54ce1b;
        color: #ff0000;
        
    }
}

@media (min-width: 992px) {
    .contenedor01,
    .contenedor02 {
        border: solid 10px yellow;
    }
}

@media (min-width: 1200px) {
    .contenedor01,
    .contenedor02 {
        max-width: 1100px;
    }
}





































