<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <article class="contenedor01">
        <h2>Lorem, ipsum dolor sit amet</h2>
        <p>Nulla proident velit est incididunt exercitation. Tempor incididunt cillum 
            Lorem sunt qui non sint tempor commodo eu incididunt fugiat. 
            Fugiat qui quis excepteur ullamco nisi officia tempor magna anim qui sint anim non. 
            Sit commodo nostrud proident occaecat ex consectetur occaecat.
        </p>
        <p>Nulla proident velit est incididunt exercitation. Tempor incididunt cillum 
            Lorem sunt qui non sint tempor commodo eu incididunt fugiat. 
            Fugiat qui quis excepteur ullamco nisi officia tempor magna anim qui sint anim non. 
            Sit commodo nostrud proident occaecat ex consectetur occaecat.
        </p>
        <article class="contenedor02">
            soy el contenedor02
        </article>
    </article>
    <article class="contenedor02">
        <h2>Lorem, ipsum dolor sit amet</h2>
        <p>Nulla proident velit est incididunt exercitation. Tempor incididunt cillum 
            Lorem sunt qui non sint tempor commodo eu incididunt fugiat. 
            Fugiat qui quis excepteur ullamco nisi officia tempor magna anim qui sint anim non. 
            Sit commodo nostrud proident occaecat ex consectetur occaecat.
        </p>
        <p>Nulla proident velit est incididunt exercitation. Tempor incididunt cillum 
            Lorem sunt qui non sint tempor commodo eu incididunt fugiat. 
            Fugiat qui quis excepteur ullamco nisi officia tempor magna anim qui sint anim non. 
            Sit commodo nostrud proident occaecat ex consectetur occaecat.
        </p>
        <article class="contenedor01">
            soy el contenedor01
        </article>
    </article>
</body>
</html>